/.bundle/
/.yardoc
/Gemfile.lock
/gemfiles/Gemfile*.lock
/_yardoc/
/coverage/
/vendor/
/doc/
/pkg/
/spec/reports/
/tmp/
/.cache/
/amazon-kinesis-producer-native-binarie*
/.ruby-version
/fluent-plugin-kinesis-*.gem